@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    font-family: Open Sans, sans-serif;
}

section{
    display: flex;
    width: 1000px;
    margin: auto;
    border-radius: 15px;
    background-color: #f6f7f8;
    overflow: hidden;
    margin-top: 30px;
    line-height: 1;
    border: 0.5 solid grey;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.2);
}

.form-section{
    width: 50%;
    text-align: center;

}

img{
    width: 50%;
}



.form-section h1{
    padding: 40px 0px;
    margin-bottom: 20px;
}



.units-green{
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #86d862;
    margin-right: 30px;
}

.units-normal{
    padding: 8px 20px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #e0e0df;
    margin-left: 30px;
}

.form-section p{
    padding: 20px;
}

#gender{
    width: 200px;
    margin-right: 20px;
}

input{
    border-radius: 5px;
    border: 0.5px solid black;
}

input.pounds{
    width: 80%;
}

.feet{
    margin-right: 10px;
    width: 40%;
}

.inches{
    padding-left: 10px;
    width: 40%;
}


button.calc{
    background-color: #05a2d3;
    border: none;
    margin-top: 50px;
    width: 80%;
    padding: 5px;
    border-radius: 15px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}