html{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h2,h1, h3,h4, h5, h6{
font-family: Georgia, serif;

}

table{
    border-color: grey;
    border-radius: 100px;
    width: 100%;
    border-collapse: collapse;
}

blockquote{
    border-left-color: rgb(221, 221, 221);
    font-style: italic;
}
table thead th{
    padding: 20px 20px;
    font-size: 18px;
    line-height: 1.4;
    background-color: #c5c5c5;
    border: 1px solid grey;
}

table tr {
    line-height: 1.4;
    padding-top: 16px;
    padding-bottom: 16px;
}

table tr:nth-child(odd) {
    background-color: rgb(235, 235, 235);
}
table td {
    width: 33%;
    padding-left: 40px;
    text-align: center;
    padding: 10px;
    border: 1px solid grey;

}
