@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");

ul{
    display: inline-block;
    list-style: none;
}

a{
    border-radius: 50%;
    background-color: rgb(192, 196, 206);
    color: rgba(51, 47, 47, 0.945);
    width: 25px;
    height: 25px;
    display: inline-block;
    padding: 10px 10px 12px;
    
}

li{
    display: inline-block;
    margin-right: 10px;

}

i{
    font-size: 24px;
}


i:hover{
  color: blue;
}

.fa-google-plus:hover{
    color: brown;
}








